:root {
  --verde: #7CFF00;
  --blanco: #ffffff;
  --negro: #121212;
  --gris: #f2f2f2;
}

/* MODO CLARO */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: var(--blanco);
  color: #000;
  transition: background 0.3s, color 0.3s;
}

header {
  background: var(--verde);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  padding: 30px;
}

h2 {
  border-bottom: 3px solid var(--verde);
  display: inline-block;
}

.materia, .proyecto {
  background: var(--gris);
  padding: 20px;
  margin: 20px 0;
  border-left: 6px solid var(--verde);
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background: var(--verde);
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.subproyectos a {
  display: inline-block;
  margin: 8px 8px 0 0;
  padding: 6px 10px;
  border: 2px solid var(--verde);
  text-decoration: none;
  color: #000;
}

footer {
  text-align: center;
  padding: 15px;
  background: var(--verde);
}

/* MODO OSCURO */
body.dark {
  background: var(--negro);
  color: var(--blanco);
}

body.dark .materia,
body.dark .proyecto {
  background: #1e1e1e;
}

body.dark a {
  color: var(--blanco);
}

body.dark .btn {
  color: #000;
}
