:root {
  --verde: #7CFF00;
  --fondo: #ffffff;
  --texto: #000000;
  --card: #f2f2f2;
}

/* GENERAL */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--fondo);
  color: var(--texto);
  transition: background 0.3s, color 0.3s;
}

header {
  background: var(--verde);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  padding: 30px;
}

h2 {
  border-bottom: 3px solid var(--verde);
  display: inline-block;
  padding-bottom: 5px;
}

/* TARJETAS */
.card {
  background: var(--card);
  padding: 20px;
  margin: 20px 0;
  border-left: 6px solid var(--verde);
}

/* BOTONES */
.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background: var(--verde);
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.sub a {
  display: inline-block;
  margin: 8px 8px 0 0;
  padding: 6px 10px;
  border: 2px solid var(--verde);
  text-decoration: none;
  color: #000;
}

/* FOOTER */
footer {
  background: var(--verde);
  text-align: center;
  padding: 15px;
}

/* MODO OSCURO */
body.dark {
  --fondo: #121212;
  --texto: #ffffff;
  --card: #1e1e1e;
}
